# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#Objectives:
List popular languages for Data Science
Python
Jave
R
Scala
Ruby

Some of the popular languages that Data Scientists use are:
- Python
- R
- Java

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Mayplotlib
- Seaborn
- ggplot
- Caret

Data Science Tools
------------------
- Jupyter Notebbok
- R Studio
- Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335